@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Roboto:wght@100;300;400&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Fuzzy Bubbles", sans-serif;
}

.background-image-container{
    width: 100%;
    height: 100vh;
}
   
.background-image {
    width: 100%;
    height: 100%;
    background-image: url("../images/farm-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.navbar {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.nav-item {
    margin-right: 15px;
    background-color: #FFF3E7;
    box-shadow: 15px 15px 50px black;
}

.logo {
    border-radius: 50%;
}

.title {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
}

/* -- play game page -- */

.background-image-play {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url("../images/farmerfield.jpg");
}

#board {
    width: 540px;
    height: 540px;
    background-color: brown;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}