@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Roboto:wght@100;300;400&display=swap');


/* General */

body {
    margin: 0;
    padding: 0;
    font-family: "Fuzzy Bubbles", sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
}

.background-image-container {
    width: 100%;
    height: 150vh;
}

.background-image {
    width: 100%;
    height: 100%;
    background-image: url("../images/farm-background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.navbar {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}


.nav-item {
    margin-right: 15px;
    background-color: #FFF3E7;
    box-shadow: 15px 15px 50px black;
}

.logo {
    border-radius: 50%;
}

/* audio icons */

#playOne,
#pauseOne,
#playTwo,
#pauseTwo {
    color: black;
    font-size: 50px;
    margin-right: 20px;
    display: inline-block;
}

/* Modal taken from w3schools and adapted to this game */

/* How to play button styling*/
#howToPlayBtn {
    background-color: #fff2e6;
    font-weight: 700;
    font-size: 30px;
    display: block;
    padding: 5px;
    color: black;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    margin: 0 auto;
    box-shadow: 15px 15px 50px black;
}

.rules {
    margin: 20% auto;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fff3e7;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid black;
    width: 55%;
    font-size: 18px;
    box-shadow: 15px 15px 50px black;
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Home page */

.title {
    text-align: center;
    font-weight: 700;
    font-size: 4rem;
    margin-top: -35px;
}

#playBtn {
    background-color: #77C13D;
    font-weight: 700;
    font-size: 30px;
    padding: 15px;
    color: black;
    border: black solid 1px;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    margin: 0 10px;
    box-shadow: 15px 15px 50px black;
}

/* -- Play page -- */

.background-image-play {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url("../images/farmerfield.webp");
}

.controls {
    display: inline-flex;
}

#playNow {
    background-color: #77C13D;
    font-weight: 700;
    font-size: 30px;
    padding: 5px;
    color: black;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    margin: 0 10px;
    box-shadow: 15px 15px 50px black;
}

#reset {
    background-color: #E52B23;
    font-weight: 700;
    font-size: 30px;
    padding: 5px;
    color: black;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    margin: 0 10px;
    box-shadow: 15px 15px 50px black;
}

.scoreBoard {
    margin: 25px auto 0;
    text-align: center;
}

body>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#board {
    width: 70vh;
    height: 70vh;
    background-image: url("../images/soil-background.webp");
    border: 3px solid #502f12;
    border-radius: 25px;
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
}

/* Adapted from AngleBrace on YouTube */

.cursor {
    background-image: url("../images/mallet.webp");
    position: absolute;
    height: 100px;
    width: 100px;
    transform: translate(-40%, -40%) rotate(65deg);
    transition: transform .1s;
    pointer-events: none;
    z-index: 50;
}

.cursor.active {
    transform: translate(-40%, -40%) rotate(-45deg);
}

.molehill {
    width: 33%;
    height: 33%;
    background-image: url("../images/soil-pile.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    position: relative;
    overflow: hidden;
}

.molehill::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*.mole {
    width: 40%;
    position: absolute;
    bottom: 0;
    left: 50%;
    background-image: url("../images/small-mole.png");
    transform: translateX(-50%);
    animation: rise .4s ease-out;
}*/

.molehill.mole::before {
    background-image: url("../images/mole.webp");
    background-repeat: no-repeat;
    background-size: 130px;
    background-position: bottom center;
    z-index: 1;
    transform: translateX(-50%);
    animation: rise .6s ease-out;
    margin-left: 5rem;
}

/*.plant {
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    background-image: url("../images/small-venus-fly-trap.png");
    transform: translateX(-50%);
    animation: rise .4s ease-out;
}*/

.molehill.plant::before {
    margin-left: 5rem;
    background-image: url("../images/venus-fly-trap.webp");
    background-repeat: no-repeat;
    background-size: 130px;
    background-position: bottom center;
    z-index: 1;
    transform: translateX(-50%);
    animation: rise .6s ease-out;
}

@keyframes rise {
    0% {
        transform: translateX(-50%) translateY(100%);
    }

    100% {
        transform: translateX(-50%) translateY(0);
    }
}

/* -- About page -- */

.about-box {
    background-color: #fff3e7;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid black;
    width: 55%;
    font-size: 18px;
    box-shadow: 15px 15px 50px black;
}


/*--Media Queries--*/

/*-------------------------------------Extra-Small devices (Phones, 600px and down)---------------------------------*/
@media only screen and (max-width: 600px) {}

/*-----------------------------------Small devices (Tablet, large phone, 600px and up)---------------------------------*/
@media only screen and (min-width: 600px) {}

/*-------------------------------------Medium devices (Landscape tablets, 768px and up)---------------------------------*/
@media only screen and (min-width: 768px) {}